<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; width=device-width,initial-scale=1.0; charset=UTF-8"/>
        <title>Title</title>

        <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"  type="text/css"   rel="stylesheet" />
        <link th:href="@{/css/FontPage.css}"  type="text/css" />
        <link  rel="stylesheet" type="text/css" th:href="@{/css/FontPage2.css}"/>
        <link  rel="stylesheet" type="text/css" th:href="@{/css/test.css}"/>
        <link  rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
        <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
        <script th:src="@{/js/FrontPage.js}"></script>

    </head>
            <body>
            <div class=" navbar navbar-default navbar-fixed-top" id="navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li>
                        <a th:href="@{/welcome/home}">Home</a>
                    </li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>

            <div class="row" style="padding-top: 55px;padding-left: 120px">
                <a th:href="@{/welcome/home}"
                class="btn btn-default"> <span
                    class="glyphicon-hand-left glyphicon"></span> Continue shopping
                </a>
            </div>

            <section class="container" style="padding-top: 15px">
                <div>
                    <a href="" class="btn btn-danger pull-left">
                        <span class="glyphicon glyphicon-remove-sign"></span> Clear Cart
                    </a>
                    <a th:href="@{/welcome/rest/cart/checkout}"
                    class="btn btn-success pull-right">
                    <span class="glyphicon-shopping-cart glyphicon"></span> Check out
                    </a>
                </div>

                    <div class="generic-container">
                        <div class="panel panel-default">
                            <table class="table table-hover">
                                <thead>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                </thead>
                                    <tbody>
                                            <tr th:each="item : ${listItems}">
                                                <td class="card-block text-nowrap" th:attr="src=@{|/img/${item.book.coverImage}.jpg|}" alt="" width="90" height="135" ></td>
                                                <td th:text="${item.book.getBookTitle()}"></td>
                                                <td th:text="${item.book.getAuthors()[0].getAuthor1()}"></td>
                                                <td th:text="${item.book.getCategory().getCategory()}"> </td>
                                                <td th:text="${item.book.getPrice()}"></td>
                                            </tr>
                                    </tbody>
                            </table>
                        </div>
                    </div>
                <h3 class="text-center" th:text="'Total ' + ${total}"></h3>
                        <a th:href="@{welcome/home}">
                            <div class="btn btn-default"> <span class="glyphicon-hand-left glyphicon"></span> Continue shopping</div>
                        </a>
                        <div id="footer-wrapper">
                            <footer id="footer">
                                <p class="text-center" ><font size="2" face="verdana">(c) 2018 <a href=""> Vitalii Rubezhanskii</a></font> </p>
                            </footer>
                        </div>
            </section>


            </body>
    </html>
